@keyframes operational-anim {
    from {
        color: #eee
    }
    to {
        color: #0f0
    }
}

@keyframes ready-anim {
    from {
        color: #eee
    }
    to {
        color: rgb(255, 196, 0)
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.main {
    font-family: 'Share Tech Mono', monospace;
}
  
.body {
    animation-name: fade-in;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
}

.status {
    width: 240px;
    display: inline-block;
}

.status-operational {
    animation-name: operational-anim;
    animation-duration: 250ms;
    animation-iteration-count: 9;
    animation-direction: alternate;
    animation-fill-mode: both;
}


.status-ready {
    animation-name: ready-anim;
    animation-duration: 500ms;
    animation-timing-function: steps(2, jump-none);
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
}

.flex-col {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
}

.flex-fill {
    flex-grow: 1;
}

.mech-container {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    border: 2px solid #eee;
    padding: 0 10px 0 10px;
    
    align-items: stretch;
}

.fixed-col {
    width: 30%;
}

.detail-row {
    border: 0 solid #eee;
    border-bottom-width: 2px;
    padding-bottom: 4px;
    padding-top: 4px;
}

.title-good {

}

@keyframes blink-yellow {
    from { color: #eee }
    to { color: #ff0 }
}
.title-damaged {
    animation-name: blink-yellow;
    animation-timing-function: steps(2, jump-none);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes blink-red {
    from { color: #eee }
    to { color: #f00 }
}
.title-crit {
    animation-name: blink-red;
    animation-timing-function: steps(2, jump-none);
    animation-duration: 500ms;
    animation-iteration-count: infinite;
}
.title-destroyed {
    color: #666;
}

@keyframes eject-color {
    0% {
        background-color: #d00f;
    }
    50% {
        background-color: #d00a;
    }
    100% {
        background-color: #d00f;
    }
}

.eject-bar {
    pointer-events: none;

    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 50%;
    transform: translateY(50%);
    z-index: 100;
}

.eject-bar-middle {
    width: 100%;
    height: 100%;
    background-color: #d00;
    animation-name: eject-color;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes eject-bar-frame-anim {
    from {
        background-position: 0, 0;
    }
    to {
        background-position: 104%, 0;
    } 
}

.eject-bar-frame {
    width: 100%;
    height: 10%;
    background-size: 200%, 100%;
    animation-name: eject-bar-frame-anim;
    animation-timing-function: linear;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    background-image: repeating-linear-gradient(45deg, red 0%,red 2%, black 2%, black 4%);
}

.eject-bar-frame.reverse {
    transform: scaleX(-100%)
}

.eject-text {
    font-weight: 800;
    font-size: 400%;
    font-stretch: expanded;
}
.eject-text-sub {
    font-weight: 800;
    font-size: 200%;
}